{% extends "base.html" %}
{% block content %}
<h2>{{ post.title }}</h2>
<p><small>By User #{{ post.author_id }} at {{ post.created_at }}</small></p>
<hr>
<!--R05_injection__test_xss_api.py::test_web_stored_xss_body_is_escaped_on_detail_page -->
<p>{{ post.body }}</p>
<!--&lt;!&ndash;<p>{{ post.body | safe }}</p>&ndash;&gt; if want pass must remove this line-->
<a href="{{ url_for('post.edit_post', course_id=course_id, post_id=post.post_id) }}" class="btn btn-sm btn-warning">Edit</a>
<form action="{{ url_for('post.delete_post', course_id=course_id, post_id=post.post_id) }}" method="post" style="display:inline">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
</form>

<hr>
<h4>Comments</h4>
{% for c in comments %}
<div class="card mb-2">
    <div class="card-body">
        <p>{{ c.body }}</p>
        <small class="text-muted">User #{{ c.author_id }} at {{ c.created_at }}</small>
    </div>
</div>
{% endfor %}

<h5>Add Comment</h5>
<form action="{{ url_for('post.create_comment', course_id=course_id, post_id=post.post_id) }}" method="post">
    <textarea name="body" class="form-control" rows="2" required></textarea>
    <button type="submit" class="btn btn-sm btn-primary mt-1">Comment</button>
</form>
<a href="{{ url_for('post.list_posts', course_id=course_id) }}" class="btn btn-secondary mt-2">Back to List</a>
{% endblock %}
