<%- include('../partials/header') %>
<h2>Register (Student)</h2>
<% if (typeof error !== 'undefined' && error) { %><p style="color:red"><%= error %></p><% } %>
<form method="post" action="/register">
  <label>Username</label>
  <input name="username" />
  <label>Display name</label>
  <input name="display_name" />
  <label>Password</label>
  <input name="password" type="password" />
  <button type="submit">Create account</button>
</form>
<%- include('../partials/footer') %>
