{% extends "base.html" %}
{% block content %}
<h2>{{ course.title }}</h2>
<p>{{ course.description }}</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <h4>Modules</h4>
        <ul>
            <li><a href="{{ url_for('post.list_posts', course_id=course.course_id) }}">Posts / Discussion</a></li>
            <li><a href="{{ url_for('assignment.list_assignments', course_id=course.course_id) }}">Assignments</a></li>
            <li><a href="{{ url_for('upload.list_uploads', course_id=course.course_id) }}">Files</a></li>
            <li><a href="{{ url_for('quiz.list_quizzes', course_id=course.course_id) }}">Quizzes</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Members</h4>
        <a href="{{ url_for('course.add_member_form', course_id=course.course_id) }}" class="btn btn-sm btn-secondary">Add Member</a>
        <ul>
        {% for m in members %}
            <li>{{ m.display_name }} ({{ m.role_in_course }})</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
